.*.swp
.DS_Store
.appcloud
.externalToolBuilders
.project
.settings
/admin_profile
/browser_tests
/destructiveChanges.xml
/installdeploy
/installedPackages
/org_unpackaged
/packaged
/src.orig
/test_results.json
/test_results.xml
/test_results_junit.xml
/uninstall
/uninstallsrc
/unpackaged/*/*/*.zip
/unpackaged/namespaced_zipped
/unpackaged/zipped
/unpackaged_stage
/venv
Referenced Packages
build.properties
salesforce.schema
